:root {
    --dark-blue: #020122;
    --yellow: #EDD382;
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px 0px;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: var(--yellow);
}
.box-wrapper h1 {
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    color: var(--yellow);
    border-radius: 24px;
    border-left: 2px solid;
    border-right: 2px solid;
}
.box-wrapper p {
   line-height: 1.66em;
   margin: 0;
   font-family: 'Lato';
   font-size: 20px;
}